#data-table-produtos thead {
    background-color: purple;
    color: #fff;
    font-weight: bold;
}

#data-table-produtos thead:hover {
    background-color: rgb(151, 5, 151);
}

#data-table-produtos tbody tr:hover {
    background-color: #e2e6ea;
}

#data-table-produtos td, 
#data-table-produtos th {
    padding: 8px 12px;
    vertical-align: middle;
}

#data-table-produtos th {
    text-align: center;
}

#data-table-produtos td {
    text-align: center;
}

#data-table-produtos .btn {
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 0.85rem;
}
